/* -------------------------------------------------------------------
	
	КНОПКИ
	
	
	Примеры использования:
	
	<button class="button">Preview</button>
	<a href="#" class="button">Preview</a>
	
	<button class="button button-primary">Save</button>
	
------------------------------------------------------------------- */

.button {
	display: inline-block;


    padding: 6px 10px 6px;
	text-align: center;

    border: 1px solid #e6e6e6 ;

    text-transform: uppercase;
    font-size: 12px;
	line-height: 16px;
	
	color: #fff;


	cursor: pointer;

    *margin-right: 5px;
    border-radius: 5px;
    background-color: #999;
}
.button:hover {
    text-decoration: none;
    border-color: #999;
    color: #fff;
}
.button:active { 
	/*-moz-box-shadow: 	0 0 7px rgba(0, 0, 0, .2) inset;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .2) inset;
	box-shadow: 		0 0 7px rgba(0, 0, 0, .2) inset;*/
}
.button.fl-r { *margin-right: 0; }


/* Button Primary */
.button.button-primary.active {    background-color: #999; }
.button.button-primary.active:hover {    border-color: #999; }


.button.button-primary 			{ 
	background: #54c0d1;
    text-transform: uppercase;
    padding: 6px 10px 6px;

}
.button.button-primary:hover 	{ border-color: #54c0d1; }
.button.button-primary.active {   }

/* Button Icon (Without text) */
.button.button-icon 			{ padding: 7px 10px; }

.button.button-actions{
    padding: 0 8px;
    text-transform: none;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    font-size: 15px;
    color: #5a5a5a!important;
    border-radius: 2px;
    line-height: 29px;

}
.button.button-actions:hover {border-color: #54c0d1;}
.button.button-actions i { color: #8f8f8f;}





/* Button Action */
.button.button-action {
    border: none;
    padding: 7px 10px 8px;
    border-radius: 3px;
    background-color: #e8e8e8;
    font-size: 15px;
}
.button.button-action span { display: none; }
.button.button-action:hover span { display: inline; padding: 0 8px 0 8px;  color: #fff; text-transform: none; }
.button.button-action.active,
.button.button-action:hover {
    color: #fff;
    padding: 7px 10px 8px;
    background-color: #54c0d1;
}
.button.button-action i { color: #8f8f8f; }
.button.button-action:hover i { color: #fff; }




.button.button-ajax {
    margin-top: 19px;
    display: table;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #ddd;
    font-size: 14px;
    color: #5a5a5a;
    padding: 6px 10px 6px;
}
.button.button-ajax:hover {background: #ddd;border-color: #54c0d1;}
.button.button-ajax.active {background: #54c0d1; color: #ffffff; border-color: #54c0d1;}