/* --------------------------------------------
	СЕТКА
-------------------------------------------- */
#container, .container{width: 1040px;margin: 0 auto;}
#container{ margin-bottom: 20px; }
.header-back {margin-top: 45px;}
#header 	{ z-index: 20;
    position: fixed;
    width: 100%;
    top: 0; height: 45px; min-width: 1040px; background: #fff; -webkit-box-shadow: 0 5px 5px rgba(0,0,0, 0.25); -moz-box-shadow: 0 5px 5px rgba(0,0,0, 0.25); box-shadow: 0 5px 5px rgba(0,0,0, 0.25); }
#nav 		{ min-width: 1040px; background: #ffffff; position: relative;  margin-bottom: 20px; overflow: hidden; }
#nav.use-bg {height: 1000px; background-image: url("../images/bg.jpg"); background-size: cover; background-position: center center; background-repeat: no-repeat;}
#nav .nav-inner { height: 123px; background-color: rgba(0, 0, 0, 0.10); content: ""; width: 100%;}


#wrapper         { position: relative;  overflow: hidden; zoom: 1; padding-bottom: 50px;}
#content-wrapper { float: left; width: 100%; margin-right: -327px; }
#content         { margin-right: 320px; position: relative; }
/*no-topic*/
#content.no-topic         { position: relative; background: #fff; padding: 0 0 35px; }

#sidebar         { float: right; width: 300px; z-index: 1; }




#footer 	{ background: #f0f0ed; min-width: 1040px; overflow: hidden; zoom: 1; padding: 25px 0 0; color: #777; border-top: 5px solid #54c0d1;  }

#content.content-right 		{ margin-right: 0; float: none; margin-left: 311px; width: auto; }
#sidebar.sidebar-left 		{ float: left; width: 250px; padding-right: 30px; border-right: 1px solid #eee; margin-right: 30px; }


#container.no-sidebar #content         {  margin-right: 0; }
#container.no-sidebar #content-wrapper { margin-right: 0; }
